.onboarding-button {
    background-color: #334156;
    border-color: #586B6E;
    color : #FFFFFF;
    font-size: 20px;
    height: 75px;
    width: 300px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
   
  
}
.hanken-grotesk-variable {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
